.div{
  display: inline-block;
  text-align: center;
  min-width: 200px;
  min-height:200px;
  border: 5px solid red;
  background-color: dodgerblue;
  margin: 0;
  font-size: 50px;
}

.new-units{
  width: 100vmin;
  height: 100vmin;
  }

  ul{
  list-style-image: ;}